upstream glassfish {
    server localhost:8084 weight=100 max_fails=5 fail_timeout=5;
}

server {
    listen 80;
    server_name     lifescience.com;

    location / {
        proxy_pass http://glassfish/lifescience/;
    }
}